.App {
  text-align: center;
}

/* .main-content {
  min-height: 100vh;
  position: relative;
} */


.main-background-image {
  background: url(images/bg-2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .5s;
  animation: animatedBackground 13s linear infinite alternate;
  z-index: -100;
}

@keyframes animatedBackground {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.App-logo {
  width: 100px;
}

.App-link {
  color: #61dafb;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
  background: linear-gradient(rgba(21, 29, 59 ,0.8), rgba(216, 33, 72, 0.5));
  font-family: 'Anton', sans-serif;
  font-size: 1.2rem;
  /* font-style: italic; */
}

.mint-wrapper {
  height: calc(100vh - 68.8px);
  max-height: 678px;
}

.nft-icon {
  background: url(images/nft-icon.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh - 68.8px);
  max-height: 678px;
}